/* || COLORS */

:root {
  --color-bg: #0a0a0a;
  --color-fg: #171717;
  --color-accent: #fdba74;
}

/* || GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  gap: 16px;
  background-color: var(--color-fg);
  padding: 16px;
}

button {
  cursor: pointer;
  border: none;
  background-color: var(--color-accent);
  border-radius: 4px;
  padding: 8px 16px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-fg);
  padding: 80px;
}

/* || PAGES */

.home-container,
.menu-container,
.contact-container {
  display: flex;
  justify-content: center;
  padding: 80px;
}

.bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px;
  background-color: var(--color-fg);
  width: 1000px;
  text-align: center;
  border-radius: 24px;
}
