/* || COLORS & TYPOGRAPHY */

:root {
  --color-bg: #0a0a0a;
  --color-fg: #171717;
  --color-accent: #fdba74;
  --color-heading: white;
  --color-text-light: white;
  --color-text-mid: #a1a1aa;
  --color-text-dark: black;

  --font-size-lg: 3.0625rem;
  --font-size-logo: 2.5rem;
  --font-size-md: 1.875rem;
  --font-size-sm: 1.125rem;
}

/* || GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  font-family: Helvetica, Arial, sans-serif;
  border-top: 8px solid var(--color-accent);
  border-bottom: 8px solid var(--color-accent);
}

h1,
h2 {
  font-family: "Arapey", serif;
  font-weight: normal;
  font-style: italic;
  color: var(--color-heading);
}

h1 {
  font-size: var(--font-size-lg);
}

h1::before {
  content: "# ";
  color: var(--color-accent);
}

h2 {
  font-size: var(--font-size-md);
}

p {
  color: var(--color-text-mid);
  font-size: var(--font-size-sm);
  line-height: 1.5rem;
}

a {
  color: var(--color-text-light);
  text-decoration: none;
}

a:not(.logo):hover {
  text-decoration: 2px underline var(--color-accent);
}

/* || NAV */

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding: 2.5rem 1rem 2.5rem 1rem;
  background-color: var(--color-fg);
  border-bottom: 1px solid var(--color-accent);
}

.logo {
  font-size: var(--font-size-logo);
  color: var(--color-heading);
  text-decoration: none;
  font-family: "Arapey", serif;
  font-style: italic;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

button {
  cursor: pointer;
  border: none;
  padding: 0.75rem 1.25rem;
  font-family: Helvetica, Arial, sans-serif;
  font-size: var(--font-size-sm);
  color: var(--color-text-light);
  transition: 0.3s;
  border: 1px solid var(--color-accent);
  background: none;
  border-radius: 4px;
}

button:hover {
  color: var(--color-text-dark);
  background-color: var(--color-accent);
  transform: translateY(-4px);
}

/* || CONTENT CONTAINERS */

.home-container,
.menu-container,
.contact-container {
  display: flex;
  justify-content: center;
  padding: 4rem 1rem;
}

.bg {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 4rem;
  max-width: 1000px;
  border: 1px solid var(--color-accent);
  border-radius: 4px;
}

/* || HOME */

.welcome h1 {
  margin-bottom: 1rem;
}

/* || MENU */

.menu-container .bg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
}

.menu-container h1 {
  grid-column: span 2;
}

.menu-item-info {
  padding-top: 1rem;
}

.menu-item h2 {
  margin-bottom: 0.5rem;
}

picture {
  display: block;
  width: 100%;
  height: 18.5rem;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.price {
  color: var(--color-accent);
  margin-top: 0.5rem;
}

/* || CONTACT */

.contact-container h1,
.contact-container h2 {
  margin-bottom: 0.5rem;
}

/* || FOOTER */

footer {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  background-color: var(--color-fg);
  padding: 4rem 1rem;
  border-top: 1px solid var(--color-accent);
}

footer .bg {
  border: none;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  width: 1000px;
}

footer p {
  margin-top: 0.5rem;
}

iframe {
  margin-top: 1rem;
}

/* || RESPONSIVE */

@media only screen and (max-width: 800px) {
  html {
    font-size: 12.8px;
  }

  footer .bg {
    flex-direction: column;
    text-align: center;
  }

  iframe {
    width: 100%;
  }
}

@media only screen and (max-width: 720px) {
  .menu-container .bg {
    grid-template-columns: 1fr;
  }

  .menu-container h1 {
    grid-column: span 1;
  }
}
