/* || COLORS & TYPOGRAPHY */

:root {
  --color-bg: #0a0a0a;
  --color-fg: #171717;
  --color-accent: #fdba74;
  --color-body-text: #a1a1aa;
  --color-heading: white;

  --font-size-lg: 3.0625rem;
  --font-size-logo: 2.5rem;
  --font-size-md: 1.875rem;
  --font-size-sm: 1.125rem;
}

/* || GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  font-family: Helvetica, Arial, sans-serif;
  border-top: 8px solid var(--color-accent);
  border-bottom: 8px solid var(--color-accent);
}

h1,
h2 {
  font-family: "Arapey", serif;
  font-weight: normal;
  font-style: italic;
  color: var(--color-heading);
}

h1 {
  font-size: var(--font-size-lg);
}

h1::before {
  content: "# ";
  color: var(--color-accent);
}

h2 {
  font-size: var(--font-size-md);
}

p {
  color: var(--color-body-text);
  font-size: var(--font-size-sm);
  line-height: 1.5rem;
}

/* || NAV */

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px 0 40px 0;
  background-color: var(--color-fg);
  border-bottom: 1px dotted var(--color-accent);
}

.logo {
  font-size: var(--font-size-logo);
  color: var(--color-heading);
  text-decoration: none;
  font-family: "Arapey", serif;
  font-style: italic;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

button {
  cursor: pointer;
  border: none;
  background-color: var(--color-accent);
  padding: 8px 16px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: var(--font-size-sm);
}

/* || CONTENT CONTAINERS */

.home-container,
.menu-container,
.contact-container {
  display: flex;
  justify-content: center;
  padding: 80px 16px 80px 16px;
}

.bg {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 80px;
  width: 1000px;
  border: 1px dotted var(--color-accent);
}

/* || HOME */

.welcome h1 {
  margin-bottom: 16px;
}

/* || MENU */

.menu-container .bg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
}

.menu-container h1 {
  grid-column: span 2;
}

.menu-item-info {
  padding-top: 16px;
}

.menu-item h2 {
  margin-bottom: 8px;
}

picture {
  display: block;
  height: 296px;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price {
  color: var(--color-accent);
  margin-top: 8px;
}

/* || CONTACT */

.contact-container h1,
.contact-container h2 {
  margin-bottom: 8px;
}

/* || FOOTER */

footer {
  display: flex;
  justify-content: center;
  gap: 24px;
  background-color: var(--color-fg);
  padding: 80px;
  border-top: 1px dotted var(--color-accent);
}

footer .bg {
  border: none;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

footer p {
  margin-top: 8px;
}

iframe {
  margin-top: 16px;
}
